# SC207 - Session 3
# Exploring, structuring and visualising data with Pandas
<img src="https://github.com/Minyall/sc207_materials/blob/master/images/python_pandas.jpg?raw=true" align="right">


- A major part of computational social science is the storing, manipulation and reporting of data. 
- Pandas is a powerful data management library specifically built for these kinds of tasks.
- It can handle very large amounts of data whilst remaining quick and responsive.

- We will be using Pandas throughout our practical sessions as a general purpose data management tool but this week we will focus on learning its features.

[__Pandas Documentation__](http://pandas.pydata.org/pandas-docs/stable/)

<img src="https://github.com/Minyall/sc207_materials/blob/master/images/spotify.png?raw=true" align="right" width=150>

### The Data

Today we will be using two sets of data.

1. The first dataset we will use for demonstration purposes is from Spotify. Spotify provides access to some of its data through their API. For this session we will be using data from Spotify, collected from a number of playlists including mixed pop, UK top 50, all out decades etc.


<img src="https://github.com/Minyall/sc207_materials/blob/master/images/RMS_Titanic_3.jpg?raw=true" align="right" width=150>

2. The second dataset, to be used for the exercises, is the Titanic Dataset. A common dataset used for data science courses, the Titanic dataset provides the details of the passengers on the Titanic during its catastrophic last voyage.

### Imports
Importing modules in python is standard practice. Rather than everyone create their own unique code from scratch every time, modules allow us to integrate code developed by others into our own work. In most instances it is better to use a well supported pre-existing library than to write your own.

In [3]:
# Here we import the `pandas` module. We could simply use `import pandas` however `as` allows us to use a shorter name.
# As social convention many modules are referred to with these short names.

import pandas as pd

## Loading Data
Often (though not always) you will be importing data from a file into Pandas. Pandas can handle a range of import types...


<img src="https://github.com/Minyall/sc207_materials/blob/master/images/pandas_import.png?raw=true">

[Source - Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/io.html)

...some will be familiar to you, others less so.

Today's data is stored as a __CSV file__, a common format for storing data in a simple way that can be read by lots of different programs including text readers, Microsoft Excel, etc.

We need to provide either the relative or full path to the file so Python knows where in your computer to look. If the file is in the same place as your notebook you can provide the *relative* path which is the file path relative to the notebook. In our case the path is simply `spotify_top_songs.csv`. 

Whilst you're still learning it is best to just keep all relevant files in the same folder as your notebook.

In [16]:
filename = 'spotify_top_songs.csv'

In [17]:
# load your saved data as variable songs_df, df being short for DataFrame

songs_df = pd.read_csv(filename)
type(songs_df)

pandas.core.frame.DataFrame

In [19]:
# We can get a quick sense of the size of our dataset using .shape
# (number of rows, numer of columns)

songs_df.shape

(1187, 12)

## Viewing your data

In [20]:
# .head() shows us the top 5 rows
songs_df.head()

,track_id,track_name,artists,genre,release_year,explicit,popularity,duration_ms,danceability,loudness,speechiness,playlist_type
0,75FEaRjZTKLhTrFGsfMUXR,Running Up That Hill (A Deal With God),Kate Bush,art pop,1985,False,96,298933,0.629,-13.123,NaN,mixed_pop
1,4Dvkj6JhhA12EX05fT7y2e,As It Was,Harry Styles,pop,2022,False,94,167303,0.520,-5.338,0.0557,mixed_pop
2,40SBS57su9xLiE1WqkXOVr,Afraid To Feel,LF SYSTEM,***OOPS!***,2022,False,82,177524,0.578,-3.929,0.1140,mixed_pop
3,2KukL7UlQ8TdvpaA7bY3ZJ,BREAK MY SOUL,Beyoncé,dance pop,2022,False,90,278281,0.687,-5.040,0.0826,mixed_pop
4,6xGruZOHLs39ZbVccQTuPZ,Glimpse of Us,Joji,alternative r&b,2022,False,98,233456,0.440,-9.258,0.0531,mixed_pop

In [21]:
# .tail() shows us the last 5 rows

songs_df.tail()

,track_id,track_name,artists,genre,release_year,explicit,popularity,duration_ms,danceability,loudness,speechiness,playlist_type
1182,5d6ZRqgbz26Sg4bk1oifQw,Blue Suede Shoes,Carl Perkins,rock-and-roll,1957,False,57,134445,0.548,-7.318,0.0364,all_out_decades
1183,6pPr1KLZit9FgFNhp7xE5m,Cheek To Cheek,Ella Fitzgerald,adult standards,1956,False,0,351893,0.648,-13.395,0.0883,all_out_decades
1184,2k6qpHJsrKCCyvsHv2cPqR,Diana,Paul Anka,adult standards,1966,False,56,140520,0.551,-8.490,0.0325,all_out_decades
1185,6lYeYgSkWh6TZDQy6YZuvG,Just A Gigolo - Remastered,Louis Prima,adult standards,1991,False,53,283200,0.525,-11.987,0.0945,all_out_decades
1186,2R7uUQ0Dehu80gsOcydQC9,Bo Diddley,Bo Diddley,acoustic blues,1958,False,53,149013,0.809,-12.484,0.0574,all_out_decades

In [22]:
# You can specify the number of rows to return

songs_df.head(10)

,track_id,track_name,artists,genre,release_year,explicit,popularity,duration_ms,danceability,loudness,speechiness,playlist_type
0,75FEaRjZTKLhTrFGsfMUXR,Running Up That Hill (A Deal With God),Kate Bush,art pop,1985,False,96,298933,0.629,-13.123,NaN,mixed_pop
1,4Dvkj6JhhA12EX05fT7y2e,As It Was,Harry Styles,pop,2022,False,94,167303,0.520,-5.338,0.0557,mixed_pop
2,40SBS57su9xLiE1WqkXOVr,Afraid To Feel,LF SYSTEM,***OOPS!***,2022,False,82,177524,0.578,-3.929,0.1140,mixed_pop
3,2KukL7UlQ8TdvpaA7bY3ZJ,BREAK MY SOUL,Beyoncé,dance pop,2022,False,90,278281,0.687,-5.040,0.0826,mixed_pop
4,6xGruZOHLs39ZbVccQTuPZ,Glimpse of Us,Joji,alternative r&b,2022,False,98,233456,0.440,-9.258,0.0531,mixed_pop
5,1PckUlxKqWQs3RlWXVBLw3,About Damn Time,Lizzo,dance pop,2022,True,95,191822,0.836,-6.305,0.0656,mixed_pop
6,02MWAaffLxlfxAUY7c5dvx,Heat Waves,Glass Animals,gauze pop,2020,False,91,238805,0.761,-6.900,0.0944,mixed_pop
7,0oiv4E896TUTTeQU0cmIui,Massive,Drake,canadian hip hop,2022,False,79,336924,0.499,-6.774,0.0561,mixed_pop
8,4N5s8lPTsjI9EGP7K4SXzB,Green Green Grass,George Ezra,folk-pop,2022,False,69,167613,0.685,-4.413,0.0595,mixed_pop
9,1qEmFfgcLObUfQm0j1W2CK,Late Night Talking,Harry Styles,pop,2022,False,95,177954,0.714,-4.595,0.0468,mixed_pop

## Exercise 1

Using `songs_df`, view the
- top 20 rows
- last 30 rows

In [28]:
# Write your code for exercise 1 in this cell

songs_df.tail()

,track_id,track_name,artists,genre,release_year,explicit,popularity,duration_ms,danceability,loudness,speechiness,playlist_type
1182,5d6ZRqgbz26Sg4bk1oifQw,Blue Suede Shoes,Carl Perkins,rock-and-roll,1957,False,57,134445,0.548,-7.318,0.0364,all_out_decades
1183,6pPr1KLZit9FgFNhp7xE5m,Cheek To Cheek,Ella Fitzgerald,adult standards,1956,False,0,351893,0.648,-13.395,0.0883,all_out_decades
1184,2k6qpHJsrKCCyvsHv2cPqR,Diana,Paul Anka,adult standards,1966,False,56,140520,0.551,-8.490,0.0325,all_out_decades
1185,6lYeYgSkWh6TZDQy6YZuvG,Just A Gigolo - Remastered,Louis Prima,adult standards,1991,False,53,283200,0.525,-11.987,0.0945,all_out_decades
1186,2R7uUQ0Dehu80gsOcydQC9,Bo Diddley,Bo Diddley,acoustic blues,1958,False,53,149013,0.809,-12.484,0.0574,all_out_decades

In [31]:
# QUESTION
# What is the name of the song in the very last row of the dataframe? Assign the name as a string to the answer variable

answer =

if answer.lower() == songs_df.iloc[-1,1].lower():
    print(f'Correct!')
else:
    print('Incorrect - Try again')

Correct!

## Describing your DataFrame
<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg" title='Pandas DataFrame' width="400" height="200"/>

DataFrames are like big Excel spreadsheets. They have...

- Rows
- Columns

...and `values` which is the data inside the cells of your spreadsheet.

In [24]:
# We can see a list of our columns...
songs_df.columns

Index(['track_id', 'track_name', 'artists', 'genre', 'release_year',
       'explicit', 'popularity', 'duration_ms', 'danceability', 'loudness',
       'speechiness', 'playlist_type'],
      dtype='object')

In [25]:
# Accessing the row index, i.e. the row labels

songs_df.index

RangeIndex(start=0, stop=1187, step=1)

In [26]:
# Accessing the DataFrame values

songs_df.values

array([['75FEaRjZTKLhTrFGsfMUXR',
        'Running Up That Hill (A Deal With God)', 'Kate Bush', ...,
        -13.123, nan, 'mixed_pop'],
       ['4Dvkj6JhhA12EX05fT7y2e', 'As It Was', 'Harry Styles', ...,
        -5.338, 0.0557, 'mixed_pop'],
       ['40SBS57su9xLiE1WqkXOVr', 'Afraid To Feel', 'LF SYSTEM', ...,
        -3.929, 0.114, 'mixed_pop'],
       ...,
       ['2k6qpHJsrKCCyvsHv2cPqR', 'Diana', 'Paul Anka', ..., -8.49,
        0.0325, 'all_out_decades'],
       ['6lYeYgSkWh6TZDQy6YZuvG', 'Just A Gigolo - Remastered',
        'Louis Prima', ..., -11.987, 0.0945, 'all_out_decades'],
       ['2R7uUQ0Dehu80gsOcydQC9', 'Bo Diddley', 'Bo Diddley', ...,
        -12.484, 0.0574, 'all_out_decades']], dtype=object)

The `.info()` method gives us an overview of our DataFrame, including...
- A summary of the index labels
- Information the columns
- a 'Non-Null' Count. i.e. how many 'cells' in the column have a value in them.
- The type (Dtype) of values that column holds.
    - Integer (int64) - e.g. 5
    - Float (float64)- e.g. 5.3
    - Boolean (bool) - e.g. True / False
    - Other (object) - Usually a string, but can also be any python object e.g. lists, dictionaries, classes.
- A summary of how much computer memory the data needs.

In [32]:
# An informative overview of our DataFrame

songs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187 entries, 0 to 1186
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   track_id       1187 non-null   object
 1   track_name     1187 non-null   object
 2   artists        1187 non-null   object
 3   genre          1187 non-null   object
 4   release_year   1187 non-null   int64
 5   explicit       1187 non-null   bool
 6   popularity     1187 non-null   int64
 7   duration_ms    1187 non-null   int64
 8   danceability   1187 non-null   float64
 9   loudness       1187 non-null   float64
 10  speechiness    1186 non-null   float64
 11  playlist_type  1187 non-null   object
dtypes: bool(1), float64(3), int64(3), object(5)
memory usage: 103.3+ KB

## Accessing columns and rows

### Accessing columns
<img src="https://github.com/Minyall/sc207_materials/blob/master/images/01_table_series.svg?raw=true" title='Pandas DataFrame'/>

In [ ]:
# often we want to access an individual series (column) of the Dataframe, this is done using a 'key' similar to a dictionary

df['track_name']

# Note that in Jupyter if there is too much data to display 
# it provides a condensed version - the first and last 30 records

In [ ]:
# We can also select a subset of columns by providing a list of column names as the key.

subset = ['track_name','artists','genre']

df[subset].head() # use .head() just to keep it tidier to view.

Most of the time you will be working primarily with entire Series or subsets of the data rather than drilling down to individual rows, but it is useful to know it is possible.

In [ ]:
# If we want a specific value from a specific row we provide the column name to .loc
# or the column index position to .iloc as well...

print(throwaway_df.iloc[1,2])
print(throwaway_df.loc[#track name as string here# ,'artists'])

In [ ]:
# you can also provide the column index/name as a seperate key that accesses the result.
print(throwaway_df.iloc[1][2])
print(throwaway_df.loc['Last Christmas']['artists'])

# *Exercises*
## Loading and Inspecting Data

In [ ]:
# 1. Your dataset for the exercises is `titanic.csv`. Load the dataset as a Pandas Dataframe 
# and assign it to the variable `titanic`

titanic = pd.read_csv('titanic.csv')

In [ ]:
# 2. How many rows are there in the dataset? Work out your answer in this cell, and check it in the cell below.

titanic.info()

In [ ]:
# 2a. Assign your answer to the variable `num_records`

num_records = 887

assert num_records == titanic.shape[0]

In [ ]:
# 3. What are the ages of the last 5 people in the dataset? 

titanic.tail()['Age']

In [ ]:
# 3a. Once you have your answer make a list called last_5_ages.

last_5_ages = [27,19,7,26,32]


assert pd.np.mean(last_5_ages) == 22.2

In [ ]:
# 4a. Set the index of `titanic` to use the 'Name' column and assign the newly arranged dataframe to `titanic_by_name`

titanic_by_name = titanic.set_index('Name')

In [ ]:
# 4b. Using your `titanic_by_name` dataframe, 
# locate the row for 'Mr. Howard Hugh Williams' and assign 
# his age to the variable `age` and the fare he paid to `fare`.



age = titanic_by_name.loc['Mr. Howard Hugh Williams','Age']
fare = titanic_by_name.loc['Mr. Howard Hugh Williams','Fare']


assert(fare / age == 0.28750000000000003)

# 3. Data Cleaning
<img src="https://github.com/Minyall/sc207_materials/blob/master/images/DC_cleaning_data.png?raw=true" align="right" width=150 href=https://www.datacamp.com/courses/cleaning-data-in-python>



- Depending on how you sourced your data, it may have missing values, duplicates or anomalies. 

- There are a number of techniques we can use to handle these issues. The theory of handling missing data is itself a big topic particularly in Quantitative methods and cannot be covered in great detail here.

- More information can be found in the DataCamp course ['Cleaning Data with Python'](https://www.datacamp.com/courses/cleaning-data-in-python).

In [ ]:
# The first steps when reviewing any new data should be to get a bird-eye view. 
# There are a few simple methods built into pandas that can help us.

df.info()

`.info()` tells us how many rows are in the dataframe, what the column names are, and how many filled values each column has.

This quick overview tells us that some have missing values, and a range of data types.

- object = often a column of strings, lists or a dictionaries but can be any data object.

- bool = Boolean True or False column.`
 
- int64 = integers
 
- float64 = floats

Other notable types which we'll cover later include...

- category

- datetime

`.describe()` provides a very quick and dirty way to get some insights into the numerical columns in your data covering...
- Count of records
- Mean value
- Standard Deviation
- Minimum Value
- 25th / 50th / 75th percentiles
- Maximum Value

In [ ]:
df.describe()

You may already be getting a sense of how DataFrames rely a lot on methods built in to the DataFrame object. Pandas has A LOT of methods. You will find youself referring to [the documentation](https://pandas.pydata.org/pandas-docs/stable/) and Cheat Sheets often when you first start. This is normal!

In [ ]:
# If we look at our data we can see that 'danceability' looks like a float, but it didn't turn up in the summary statistics above..
# Let's check it.

df.head()

In [ ]:
# we can see the type for this column is object rather than float.
# this might cause problems later because it's being treated
# as a string, not a number.
df['danceability'].head()

In [ ]:
# We can do this by exchanging our current series df['danceability'] for a version of df['danceability'] that 
# has been transformed into float type data.
# We do this using the method .astype()

df['danceability'] = df['danceability'].astype(float)

In [ ]:
# Now if we check our .info() again we can see the type of the genre series has changed.
# reassigning a new series to df['genre'] is a permanent change to the dataframe
df.info()

In [ ]:
# It's also worth checking for duplicate data. Spotify provides a unique id number for every track which can be helpful in our case.
# Pandas has the .duplicated() and .drop_duplicates() methods for this very issue.

In [ ]:
# We can see if there are duplicates using .duplicated() which creates a boolean 'filter' for our data..
# We'll cover these in more detail in the next section.

dupe_filter = df.duplicated(subset=['track_id'])
df[dupe_filter]

In [ ]:
# We could even test this by manually looking for those tracks. 
# Remember when we set our index to be the track name?

# by doing our operation without assigning it to a variable we can 
# just view the result without necessarily storing it.
# chaining methods allows us to achieve this with one line. Think through each stage of the chain.
# What does each stage produce and pass on to the next method?

df.set_index('track_name').loc[#Track name here]

In [ ]:
# let's drop those duplicates. We also need to reset the index after because .drop_duplicates() will 
# remove rows leaving us with gaps in our index - e.g. 1,2,4,5,6,8,10.
# Again we can achieve this by chaining together the methods.

df = df.drop_duplicates(subset=['track_id']).reset_index(drop=True)

In [ ]:
# Lets check how much data we have left
df.info()

In [ ]:
# We might also be concerned about missing data. 
# "Speechiness" has one less value than all the other columns. This inidcates that one row has a missing value
# We can locate this by making a filter using .isna()

missing_filter = df['speechiness'].isna()
df[missing_filter]

In [ ]:
# We could replace this value with something... perhaps based on the average speechiness of the genre?
# but as it is only one record we'll just drop it from analysis using .dropna()

# dropna requires the subset (the columns we're basing our selections on, to be a list)
# we say axis = 'index' to say drop rows that have a missing value in speechiness
# if we say axis='column' it will drop the entire speechiness column if there is a single missing value!
df = df.dropna(subset=['speechiness'], axis='index')

In [ ]:
df.info()

In [ ]:
# Sometimes even if Pandas doesn't THINK there is missing data, depending on how the data was created it could still be missing.
# Whilst df.info() seems to indicate all is well there is an oddity with our 'genre' column.
# for data like our genre column we can use value counts to count the number of instances of different genres
df['genre'].value_counts()

It looks like whoever generated the data decided to put `***OOPS!***` in as a value if the genre wasn't available.
Unfortunately as that is a string like all the other genres, Pandas doesn't know any different.
In order for Pandas to understand that it is missing data, we need to replace it with a special object called a NaN.

We can get one of these NaN's using Pandas `pd.np.nan` and using the `.replace()` method replace all the `***OOPS!***` with `pd.np.nan`.

In [ ]:
df['genre'] = df['genre'].replace(to_replace='***OOPS!***', value=pd.np.nan)

In [ ]:
df.info()

In [ ]:
# lets save this dataset now it's been cleaned

df.to_csv('cleaned_spotify_top_songs.csv', index=False)

# *Exercises*
## *Data Cleaning*

In [ ]:
# 1. Load in the file 'titanic_to_clean.csv' using .read_csv and assign to the variable titanic. Examine the info().

titanic = pd.read_csv('titanic_to_clean.csv',)
titanic.info()

In [ ]:
# 1b. Our first issue is the missing data for the fare column. 
# Use .dropna() providing the 'Fare' column as the subset. Assign the result to
# `titanic` to overwrite it.

titanic = titanic.dropna(subset=['Fare'])



assert titanic.shape[0] == 853

In [ ]:
# 2a Let's check the 'Survived' column to see what it looks like.
# Count the number of each value in 'Survived' to get an overall picture of the values used.
titanic['Survived'].value_counts()

In [ ]:
# 2b. We should only have two categories 0 and 1 to indicate if the individual survived. 
# Replace any of the values in 'Survived' that are neither a 0 nor 1, with a nan object.

titanic['Survived'] = titanic['Survived'].replace(3, pd.np.nan)

In [ ]:
# 2c. How many non null values are there in the 'Survived' column now?
# Assign your answer to `survived_non_null`

survived_non_null = 831

assert survived_non_null == titanic.Survived.count()

In [ ]:
# 2d. Drop the rows that have now have null values in the 'Survived' column

titanic.dropna(subset=['Survived'], inplace=True)

In [ ]:
# 2e. Finally it would make more sense for us to make the 'Survived' column a Boolean column (True/False)
# Pandas will work out that 0 is False whilst 1 is True if we convert it to boolean. Do this now.
titanic['Survived'] = titanic['Survived'].astype(bool)

In [ ]:
# 3a. Check for any duplicate records. What column do you think would be best to use for the subset?

duplicate_filter = titanic.duplicated(subset=['Name'])
titanic[duplicate_filter]

In [ ]:

titanic = titanic.drop_duplicates(subset=['Name'])
titanic.info()

In [ ]:
# 3b. Finally drop the duplicate records, check how many records you have in your cleaned dataset, 
# and assign the value to `final_countdown`.

final_countdown = 815

assert final_countdown == titanic.shape[0]

## 3.Filtering our Data

Filtering Data allows you to select portions of your dataset based on particular conditions, such as all the tracks of a particular genre, or all tracks under a particular duration, or selecting tracks with a particular word in their name.

Filtering uses a particular syntax...

`df[filter_rule]`

We already used this when we showed all the records that had duplicates in our data...

    dupe_filter = df.duplicated(subset=['track_id'])
    df[dupe_filter]

The rule that we use within the brackets can be relatively simple or complex depending on the kinds of queries we have.

In [ ]:
# Reload our cleaned data

df = pd.read_csv('cleaned_spotify_top_songs.csv')

In [ ]:
# Lets see what a filter is doing first...

df['popularity'] > 90

# We can see that the conditional statement creates a new series that has evaluated 
# whether the statement is True or False for each row.

In [ ]:
# If we place this series inside the square brackets of a call to our df variable 
# it acts as a filter, showing only those rows that have a value of True.

pop_filter = df['popularity'] > 90 # same statement as above assigned to a variable.

high_pop = df[pop_filter]
high_pop

In [ ]:
# We can filter any way that we can create a conditional statement and we don't necessarily need to assign the filter rule to another variable first...

df[df['explicit'] == False].head()

In [ ]:
# We can combine conditional statements with...
# & (and)
# | (or) - note this is a vertical 'pipe' not an I

# Perhaps we want all explicit tracks with a popularity above 90

explicit_over_90 = (df['explicit'] == True) & (df['popularity'] > 90)

df[explicit_over_90]

In [ ]:
# We can use the | OR operator to get the very highest and very lowest in popularity

high_low = (df['popularity'] >90) | (df['popularity'] < 10)
df[high_low]

## 4. Creating New Data Combinations

Pandas allows you to quickly make new data series in your DataFrame, either by providing the values yourself, or by combining your existing data. Unlike filtering to create particular views on the data, these operations add the new data to the DataFrame stored in memory. If you want to keep the columns permanently you'll need to save the data which is covered under 'Exporting'.

In [ ]:
# First we need to create our rule and to understand this we need to understand 'Broadcasting'.

# Pandas relies on 'broadcasting', which is the ability to apply an operation to
# all values in a series or entire dataframe at the same time. Rarely is it necessary to loop over the
# rows to make changes.

In [ ]:
# A simple example would be just adding a new column with a single value...

df['source'] = 'Spotify'
df.head()

In [ ]:
# However we normally would want different values for different rows

# Say we wanted to change our 'duration' column from miliseconds to seconds to make it more meaningful to us.
# The conversion from miliseconds to seconds is to divide by 1000.

# We can do this in one line and make this a new column...

df['duration_s'] = df['duration_ms'] //1000
df.head()

In [ ]:
# Perhaps we wanted to make a new value by dividing a song's danceability by its speechiness, perhaps believing that
# the most danceable songs are non-vocal.

# We can add this to the Dataframe by assigning it a column name. 

df['pure_danciness'] = df['danceability'] / df['speechiness']
df.sort_values('pure_danciness', ascending=False).head()

In [ ]:
# Assigning it to a new variable creates a seperate independent series that isn't in the dataframe.
# Useful if you don't need the series in the DataFrame.

new_score = df['danceability'] / df['speechiness']
print(type(new_score))
new_score

In [ ]:
# Broadcasting also works with string operations....

combi_artist_genre = df['artists'] + ' - ' + df['genre']
combi_artist_genre.head()

## 4. Visualising
Pandas has a range of built in quick visualisation options, accessed through the `.plot()` method. They are built on top of another library called `matplotlib`. This is a very large library in Python which we won't cover much here, but it is key to understand the Pandas uses matplotlib, because you can tweak Pandas visuals using matplotlib commands.

However `Seaborn` is a visualisation library that has much more flexibility and is easier to use.

In [ ]:
# We'll import maptplotlib's python library here to use it to tweak our plots

import matplotlib.pyplot as plt # this is the conventional way to import matplotlib
import seaborn as sns # and this is the conventional way to import seaborn

In [ ]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

In [ ]:
# Lets investigate ages for the titanic to demonstrate basic Pandas plotting



titanic['Age'].plot(kind='hist', # There are many kinds of plot we can use built into Pandas
                    title='Distribution of Ages of Passengers on the Titanic', #Allows us to set the title
                    figsize=(6,4)) # we can also adjust the size (h,v)

# we can also relabel the x-axis but we need to use matplotlib to do this
plt.xlabel('Age')
# and to cleanly display the plot
plt.show()

In [ ]:
df.head()

In [ ]:
df.plot(kind='scatter',y='popularity',x='speechiness')

## Seaborn Examples
Seaborn allows us to easily split the data up by categories when visualising. Pandas can be used for this but it is much more complex.

### Scatter plot

In [ ]:
sns.scatterplot(data=titanic, x='Age', y='Fare')

### Scatter plot with hue

In [ ]:
sns.scatterplot(data=titanic, x='Age', y='Fare', hue='Survived')

### Line Plot with hue

In [ ]:
sns.lineplot(data=titanic, x='Age',y='Fare', hue='Survived')

### Box plot with hue

In [ ]:
sns.boxenplot(data=titanic, x='Sex',y='Age',hue='Survived')

### Distribution plot

In [ ]:
sns.distplot(titanic['Age'],kde=False)

### Swarm Plot

In [ ]:
sns.swarmplot(data=titanic, x='Pclass', y='Fare', hue='Survived')

### Joint plot

In [ ]:
sns.jointplot(data=titanic, x='Age', y='Fare')

### Pairplot

In [ ]:
sns.pairplot(data=titanic, hue='Survived',vars=['Fare','Age', 'Pclass'])

## 5. Grouping Data

`.groupby()` is a convenient method of spliting up the data, applying an operation and then combining the results of the seperate operations.

Let's pose a question - Are there differences between explicit and non-explicit songs? With `.groupby()` and `.describe()` we can examine this quite quickly.

In [ ]:
# by calling `.groupby()` on our dataframe, and providing the column we want to group on,
# we create a `groupby` object.

groups = df.groupby('explicit')
groups

In [ ]:
# we'll aggregate the results by taking the .mean() of all the numerical columns
# before we can view the data we need to say how we're going to 'aggregate' or summarise the data together.

# here we take the mean or the average of the values
groups.mean()

In [ ]:
# If we would prefer the columns and the rows to be swapped, we can .transpose()

groups.mean().transpose()

In [ ]:
groups.mean().transpose().loc['popularity'].plot(kind='bar', title='Popularity')

In [ ]:
titanic.head()

In [ ]:
# You can use Groupby to group on multiple variables

titanic.groupby(['Pclass','Sex']).mean()

In [ ]:
#.agg is a method that lets us specify exactly what we want each column to do
# we give it a dictionary where the key is the column name and the value is the aggregation approach.
# pandas has built in functions so we just have to provide the names as strings.

aggregation_rules = {'Age':'mean','Survived':'sum','Fare':'mean', 'Name':'count'}

grouped_titanic = titanic.groupby(['Pclass','Sex']).agg(aggregation_rules)
grouped_titanic

In [ ]:
# the result of a groupby is another Dataframe, 
# so we can carry on using it like normal
type(grouped_titanic)

In [ ]:
# lets rename the columns to make them more reflective of the new values
rename_rules = {'Age':'average_age',
               'Survived':'n_survivors',
               'Fare': 'average_fare',
                'Name':'n_passengers'}

grouped_titanic = grouped_titanic.rename(columns=rename_rules)
grouped_titanic

In [ ]:
# lets make a new column to determine the percentage of survivors per group

grouped_titanic['pct_survivors'] = (grouped_titanic['n_survivors'] / grouped_titanic['n_passengers']) *100
grouped_titanic

In [ ]:
# a simple way to plot this would be to use pandas built in bar chart
grouped_titanic['pct_survivors'].plot(kind='bar')

In [ ]:
grouped_titanic_to_plot = grouped_titanic.reset_index() #resetting removes the 'multi-index'
grouped_titanic_to_plot

In [ ]:
sns.barplot(data=grouped_titanic_to_plot, x='Pclass', y='pct_survivors', hue='Sex', dodge=True )

<a id='export'></a>
## 6 - Exporting Data
You may want to export your data, or a reshaped version of it, for use in other applications. Pandas can export to a range of data formats including CSV, Excel, Stata, HTML, JSON and others.

See: https://pandas.pydata.org/pandas-docs/stable/api.html#id12

In [ ]:
# Our grouped titanic table makes a good candidate
grouped_titanic_to_plot.head()

In [ ]:
grouped_titanic_to_plot.to_excel('our_export.xlsx')

# *Exercises*
## *Grouping and Visualising*

In this exercise we are going to explore the differences between the different playlist types in our Spotify dataset.

In [ ]:
#1.  First load your cleaned_spotify_top_songs.csv as df

df = pd.read_csv('cleaned_spotify_top_songs.csv')

In [ ]:
# 2. Using a Seaborn Pairplot (Histogram), visualise the relationships between release year
# and popularity and colour by playlist_type, for all songs released after 2000.
# Tip. You'll need to filter the df using standard pandas filtering, either beforehand or when you pass it to the pairplot


sns.pairplot(data=df[df['release_year'] >=2000], vars=['release_year','popularity'], hue='playlist_type')

In [ ]:
# 3. Now group the dataframe by 'playlist_type' and aggregate the values so that it returns the average (or mean) values for all columns
# Do this in a single line.

# Which playlist, on average, features the most popular songs?
df.groupby('playlist_type').mean()

In [ ]:
# 4 create a new table by first grouping on release_year and then use the .agg method to aggregate just the 'explicit' column using mean
# assign the new series to the variable avg_explicit_year
# tip, you'll need to reset the index to make the next step easier

avg_explicit_year = df.groupby('release_year').agg({'explicit':'mean'}).reset_index()

In [ ]:
# 4. Now using a seaborn lineplot, examine whether songs have become more explicit over time.
sns.lineplot(data=avg_explicit_year, x='release_year', y='explicit')

In [ ]:
# 5. Using broadcasting create a new boolean column where each row is True if 
# the song has a popularity greater than or equal to 90.
# name the column 'top_song'

df['top_song'] = df['popularity'] >= 90

In [ ]:
# 6. Use a boxplot to explore the relationship between three dimensions of the data, top_song, danceability, and explicit.
# Tip: x and y will provide you two dimensions, how might you add a third?

sns.boxplot(data=df, x='top_song', y='danceability', hue='explicit')

In [ ]:
# Now  group the df using 'release_year' and 'playlist_type' and aggregate using the mean
# assign the result to df_year_avg. Don't forget to reset your index

df_year_avg = df.groupby(['release_year','playlist_type']).mean().reset_index()

In [ ]:
# Finally answer these questions?

# What was the average popularity for non-explicit songs in 2019? # this can be answered using one line of code
# How does this compare all songs in our sample in or after 2010? - Demonstrate this using a visualisation. # this may need two lines

df.groupby(['release_year','explicit']).mean().loc[2019]

In [ ]:
to_plot = df.groupby(['release_year','explicit']).mean().reset_index()
sns.lineplot(data=to_plot[to_plot['release_year'] >= 2000], x='release_year', y='popularity', hue='explicit')